.whosCookingRight {
    position: relative;
    line-height: 28px;
  }
  .whosCookingRightNowWrapper {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0 15px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .profilePictureIcon {
    position: relative;
    border-radius: 50%;
    width: 72.28px;
    height: 72.28px;
    object-fit: cover;
    z-index: 0;
  }
  .plusIcon {
    position: absolute;
    margin: 0 !important;
    right: 0.44px;
    bottom: 33.2px;
    width: 17.68px;
    height: 17.68px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    z-index: 1;
  }
  .tabletMyProfilePicture {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
  }
  .frameChild {
    width: 96.6px;
    height: 96.6px;
    z-index: 0;
  }
  .aya,
  .frameChild,
  .live {
    position: relative;
  }
  .aya {
    line-height: 20px;
    z-index: 1;
  }
  .live {
    letter-spacing: 0.52px;
    line-height: 10.31px;
    font-weight: 600;
  }
  .groupParent,
  .liveIcon {
    display: flex;
    justify-content: flex-start;
  }
  .liveIcon {
    margin: 0 !important;
    position: absolute;
    top: 44px;
    left: 16.56px;
    border-radius: 2.06px;
    background-color: #f16e00;
    box-shadow: 3.0927834510803223px 5.15463924407959px 10.82px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    padding: 0.5px 2.577319622039795px;
    align-items: flex-start;
    z-index: 2;
    font-size: 6.19px;
    color: #eff4ed;
  }
  .groupParent {
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 4px;
  }
  .liveIcon1 {
    margin: 0 !important;
    position: absolute;
    top: 45px;
    left: 14.96px;
    border-radius: 2.06px;
    background-color: #f16e00;
    box-shadow: 3.0927834510803223px 5.15463924407959px 10.82px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    padding: 0.5px 2.577319622039795px;
    align-items: flex-start;
    z-index: 2;
    font-size: 6.19px;
    color: #eff4ed;
  }
  .groupContainer,
  .liveIcon1,
  .liveIcon2 {
    display: flex;
    justify-content: flex-start;
  }
  .groupContainer {
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 4px;
    cursor: pointer;
  }
  .liveIcon2 {
    margin: 0 !important;
    position: absolute;
    top: 45px;
    left: 15.35px;
    border-radius: 2.06px;
    background-color: #f16e00;
    box-shadow: 3.0927834510803223px 5.15463924407959px 10.82px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    padding: 0.5px 2.577319622039795px;
    align-items: flex-start;
    z-index: 2;
    font-size: 6.19px;
    color: #eff4ed;
  }
  .groupIcon {
    position: relative;
    width: 92.6px;
    height: 92.6px;
  }
  .leila {
    position: relative;
    line-height: 20px;
  }
  .groupParent1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }
  .frameChild1,
  .frameChild2 {
    position: relative;
    width: 80.75px;
    height: 92.6px;
  }
  .frameChild2 {
    width: 50.6px;
  }
  .groupParent3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    cursor: pointer;
  }
  .frameChild3 {
    position: relative;
    width: 50.6px;
    height: 50.6px;
  }
  .tabletMyProfilePictureParent {
    position: absolute;
    top: 12px;
    left: 5px;
    display: flex;
    flex-direction: row;
    padding: 0 11px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 11px;
  }
  .goLiveButton {
    position: absolute;
    top: -2.25px;
    left: 21.75px;
    width: 55.5px;
    height: 55.5px;
  }
  .userCarousel {
    position: relative;
    width: 390px;
    height: 88px;
    overflow-x: auto;
    flex-shrink: 0;
    font-size: 14px;
    font-family: Roboto;
  }
  .frameParent {
    gap: 5px;
  }
  .frameParent,
  .profileCarousel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .gifIcon {
    position: absolute;
    margin: 0 !important;
    top: 6582px;
    left: 156.5px;
    width: 50px;
    height: 49px;
    overflow-y: auto;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 21;
  }
  .cardFlow,
  .profileCarouselParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .cardFlow {
    width: 363px;
    height: 8119px;
    position: relative;
    gap: 30px;
  }
  .profileCarouselParent {
    position: absolute;
    top: 120px;
    left: 0;
    height: 6742px;
    gap: 20px;
  }
  .brandName {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
  }
  .brandNameWrapper {
    position: relative;
    width: 349px;
    height: 45px;
    z-index: 0;
  }
  .listIcon {
    position: relative;
    width: 38.4px;
    height: 38.4px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .dropdownMenu,
  .menuheading {
    display: flex;
    align-items: center;
  }
  .menuheading {
    align-self: stretch;
    flex-direction: row;
    padding: 9.60000228881836px 19.20000457763672px;
    justify-content: flex-end;
  }
  .dropdownMenu {
    margin: 0 !important;
    position: absolute;
    top: 12px;
    left: 301px;
    border-radius: 4.8px;
    background-color: transparent;
    flex-direction: column;
    padding: 9.60000228881836px 0;
    justify-content: center;
    z-index: 1;
  }
  .phoneHeadermenu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 6px 0 21px rgba(0, 0, 0, 0.1);
    width: 390px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 28px 13px 28px 15px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 32px;
    color: #f16e00;
    font-family: Chillax;
  }
  .mainPage {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 6914px;
    overflow-y: auto;
    text-align: left;
    font-size: 22px;
    color: #3b3b3b;
    font-family: Nunito;
  }
